{% extends 'administrator/base.html' %}
{% load static %}
{% block content %}

<body>

    <!--page start-->
    <div class="page">

        <!-- preloader start -->
        <!--<div id="preloader">
          <div id="status">&nbsp;</div>
        </div>-->
        <!-- preloader end -->

        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box ttm-textcolor-white">
                            <div class="page-title-heading">
                                <h1 class="title">About Us</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="{% url 'home' %}"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; | &nbsp;</span>
                                <span>About Aleko Capital</span>
                            </div>  
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">

        <!-- about-section -->
        <section class="ttm-row about-top-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="position-relative">
                            <!-- ttm_single_image-wrapper -->
                            <div class="ttm_single_image-wrapper ttm-991-center res-991-mt-30">
                                <img class="img-fluid" src="{% static 'images/single-img-ten.jpg' %}" title="single-img-ten" alt="single-img-ten">
                            </div><!-- ttm_single_image-wrapper end -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="pl-45 res-991-pl-0 res-991-mt-30">
                            <!-- section title -->
                            <div class="section-title clearfix">
                                <div class="title-header">
                                    <h5>ABOUT CONSULTANCY</h5>
                                    <h2 class="title">We work with you to address your most critical business priorities</h2>
                                </div>
                                <div class="title-desc">We focus on delivering quantifiable results for our customers, based on a well-tested methodology and solid experience. But of course, this only works because of our close.</div>
                            </div><!-- section title end -->
                            <div class="row no-gutters mt-25">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="ttm-list ttm-list-style-icon">
                                        <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Acquire live chat enables sales </span></li>
                                        <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Engage - marketing automation</span></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="ttm-list ttm-list-style-icon">
                                        <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Learn from customer feedback</span></li>
                                        <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Support -customer support </span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-100 res-991-mt-50">
                    <div class="col-md-4">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs ttm-icon_element-style-round">
                                    <i class="ti ti-info ttm-num"></i>
                                </div>
                            </div>
                            <div class="featured-content pl-20">
                                <div class="featured-title">
                                    <h5 class="mb-0">Creative Strategy</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end -->
                    </div>
                    <div class="col-md-4">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs ttm-icon_element-style-round">
                                    <i class="ti ti-info ttm-num"></i>
                                </div>
                            </div>
                            <div class="featured-content pl-20">
                                <div class="featured-title">
                                    <h5 class="mb-0">Digital Solutions</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end -->
                    </div>
                    <div class="col-md-4">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs ttm-icon_element-style-round">
                                    <i class="ti ti-info ttm-num"></i>
                                </div>
                            </div>
                            <div class="featured-content pl-20">
                                <div class="featured-title">
                                    <h5 class="mb-0">Powerful Services</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end -->
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->
        

        <!-- tab-section -->
        
        <!-- process-section -->
        <section class="ttm-row ttm-bg ttm-bgimage-yes bg-img3 process-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-2"></div>
                    <div class="col-md-6 col-sm-8">
                        <!-- section title -->
                        <div class="section-title text-center with-desc clearfix">
                            <div class="title-header">
                                <h5>how it work</h5>
                                <h2 class="title">Three Simple Step To Start Working Process</h2>
                            </div>
                        </div><!-- section title end -->
                    </div>
                    <div class="col-md-3 col-sm-2"></div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row ttm-processbox-wrapper">
                            <div class="col-lg-4">
                                <div class="ttm-processbox">
                                    <div class="ttm-box-image">
                                        <div class="process-num">
                                            <span class="number">01</span>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title"><h5>Research Project</h5></div>
                                        <div class="ttm-box-description">Find Sources, Evaluate Sources, Establish a Working</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="ttm-processbox mt-50 res-991-mb-50">
                                    <div class="ttm-box-image">
                                        <div class="process-num">
                                            <span class="number">02</span>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title"><h5>Targeting</h5></div>
                                        <div class="ttm-box-description">Breaking a market into segments &amp; customers whose desires</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="ttm-processbox">
                                    <div class="ttm-box-image">
                                        <div class="process-num">
                                            <span class="number">03</span>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title"><h5>Results</h5></div>
                                        <div class="ttm-box-description">Results are the specific actions to prevent future problems.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!-- process-section end -->

        <!-- blog-text-section
        <div class="ttm-row blog-text2-section bg-img6 ttm-bgcolor-darkgrey ttm-bg ttm-bgimage-yes clearfix">
            <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
         blog-text-section -->
        <!-- client-section -->
        <div class="ttm-row client-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- ttm-client -->
                        <div class="ttm-client clients-slide owl-carousel owl-theme owl-loaded mt-5" data-item="5" data-nav="false" data-dots="false" data-auto="true">
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-01">
                                        <img class="img-fluid" src="{% static 'images/client/client-01.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-02">
                                        <img class="img-fluid" src="{% static 'images/client/client-02.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-03">
                                        <img class="img-fluid" src="{% static 'images/client/client-03.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-01">
                                        <img class="img-fluid" src="{% static 'images/client/client-01.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-02">
                                        <img class="img-fluid" src="{% static 'images/client/client-02.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-03">
                                        <img class="img-fluid" src="{% static 'images/client/client-03.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div><!-- ttm-client end -->      
                    </div>
                </div>
            </div>
        </div>
        <!-- client-section end-->
       
    </div><!--site-main end-->

    <!--back-to-top start-->
    <a id="totop" href="#top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!--back-to-top end-->

</div>
</body>
{% endblock content %}