{% extends 'administrator/base.html' %}
{% load static %}
{% block content %}
<body>

    <!--page start-->
    <div class="page sidebar-true">

        <!-- preloader start -->
        <!--<div id="preloader">
          <div id="status">&nbsp;</div>
        </div>-->
        <!-- preloader end -->

        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box ttm-textcolor-white">
                            <div class="page-title-heading">
                                <h1 class="title"> Advanced Analytics</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="{% url 'home' %}"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; | &nbsp;</span>
                                <span> Advanced Analytics </span>
                            </div>  
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar-left ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row d-block">
                    <div class="col-lg-9 content-area">
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'images/blog/blog-1.jpg' %}" alt="blog-1">
                            </div>
                            <div class="ttm-service-description mb-30">
                                <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                            </div>
                            <div class="row mb-30">
                                <div class="col-md-7">
                                    <div class="ttm-service-description mb-20">
                                        <h4>With Advanced Analytics, you can:</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                    </div>
                                    <!-- featured-icon-box-->
                                    <div class="featured-icon-box left-icon icon-align-top mb-20">
                                        <div class="featured-icon"><!-- featured-icon-->
                                            <div class="ttm-icon ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs ttm-icon_element-style-round">
                                                <i class="ti ti-arrow-right"></i>
                                            </div>
                                        </div><!-- featured-icon end-->
                                        <div class="featured-content pl-25"><!-- featured-content-->
                                            <div class="featured-title"><!-- featured-title-->
                                                <h5 class="mb-5">Develop the Strategies</h5>
                                            </div>
                                            <div class="featured-desc"><!-- featured-desc-->
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                    <!-- featured-icon-box-->
                                    <div class="featured-icon-box left-icon icon-align-top mb-20">
                                        <div class="featured-icon"><!-- featured-icon-->
                                            <div class="ttm-icon ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs ttm-icon_element-style-round">
                                                <i class="ti ti-arrow-right"></i>
                                            </div>
                                        </div><!-- featured-icon end-->
                                        <div class="featured-content pl-25"><!-- featured-content-->
                                            <div class="featured-title"><!-- featured-title-->
                                                <h5 class="mb-5">Develop Corporate Business</h5>
                                            </div>
                                            <div class="featured-desc"><!-- featured-desc-->
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <div class="col-md-5">
                                    <div class="ttm_single_image-wrapper">
                                        <img class="img-fluid" src="{% static 'images/single-img-thirteen.jpg' %}" alt="single-img-thirteen">
                                    </div>
                                </div>
                            </div>
                            <div class="ttm-service-description mb-30">
                                <h4>Advanced Analytics Supports Better Decision Making</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit adipiscing elit. Ut elit tellus, luctus nec massa quis pusg ullamcorper mattis, pulvinar dapibus.
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ttm_single_image-wrapper mb-35">
                                        <img class="img-fluid" src="{% static 'images/blog/blog-4.jpg' %}" alt="blog-4">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ttm_single_image-wrapper mb-35">
                                        <img class="img-fluid" src="{% static 'images/blog/blog-5.jpg' %}" alt="blog-5">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area ttm-bgcolor-grey">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                                    <li ><a href="{% url 'analytics' %}">Analytics Solutions</a></li>
                                                    <li><a href="{% url 'growth' %}">Business Growth</a></li>
                                                    <li><a href="{% url 'corporate' %}">Corporate Finance</a></li>
                                                    <li><a href="{% url 'advance_reports' %}">Advance Reports</a></li>
                                                    <li><a href="{% url 'chain_management' %}">Chain Management</a></li>
                                                    <li class="active"><a href="{% url 'advanced_analytics' %}">Advanced Analytics</a></li>
                                                </ul>
                        </aside>
                        <aside class="widget widget-download">
                            <ul class="download">
                                <li>
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                        <i class="fa fa-file-pdf-o"></i>
                                    </div>
                                    <a href="#">Download.pdf</a>
                                </li>
                                <li>
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                        <i class="fa fa-file-word-o"></i>
                                    </div>
                                    <a href="#">Our ISO Certificate</a>
                                </li>
                                <li>
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                        <i class="fa fa-file-o"></i>
                                    </div>
                                    <a href="#">Download.txt</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget post-widget">
                            <h3 class="widget-title">Latest News</h3>
                            <ul class="widget-post ttm-recent-post-list">
                                <li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/blog-6.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">20 April,2018</span>
                                    <a href="single-blog.html" class="clearfix">Successful Growth In Business 2018</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/blog-7.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">01 August, 2018</span>
                                    <a href="single-blog.html" class="clearfix">Achieving Best Business Awards</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/blog-8.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">13 March, 2018</span>
                                    <a href="single-blog.html" class="clearfix">Seminar for Best Marketing Strategy</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget contact-widget">
                            <h3 class="widget-title">Get in touch</h3>      
                            <ul class="contact-widget-wrapper">
                                <li><i class="fa fa-map-marker"></i>Aleko Capital Investment Lavington., Nairobi, Kenya</li>
                                <li><i class="fa fa-envelope-o"></i><a href="mailto:info@alekoinvest.com" target="_blank">info@alekoinvest.com</a></li>
                                <li><i class="fa fa-phone"></i>+254 722 488900</li>
                            </ul>
                        </aside>
                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->
    </div>
</body>
{% endblock content %}