{% extends 'administrator/base.html' %}
{% load static %}
{% block content %}

<body>

    <!--page start-->
    <div class="page sidebar-true">

        <!-- preloader start -->
        <!--<div id="preloader">
          <div id="status">&nbsp;</div>
        </div>-->
        <!-- preloader end -->

        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box ttm-textcolor-white">
                            <div class="page-title-heading">
                                <h1 class="title"> Analytics Solutions</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="{% url 'home' %}"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; | &nbsp;</span>
                                <span> Analytics Solutions </span>
                            </div>  
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar-left ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row d-block">
                    <div class="col-lg-9 content-area">
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'images/blog/blog-1.jpg' %}" alt="blog-1">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Our Partners</h4>
                                    <div class="mb-20">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. auup sed do eiusmod tempor incididunt ut. Leap into toup electronic typesetting.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- ttm-client -->
                                    <div class="ttm-client clients-slide2 owl-carousel owl-theme owl-loaded mt-5" data-item="2" data-nav="false" data-dots="false" data-auto="true">
                                        <div class="client-box ttm-box-view-boxed-logo style2">
                                            <div class="client">
                                                <div class="ttm-client-logo-tooltip" data-tooltip="client-01">
                                                    <img class="img-fluid" src="{% static 'images/client/client-01.png' %}" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="client-box ttm-box-view-boxed-logo">
                                            <div class="client">
                                                <div class="ttm-client-logo-tooltip" data-tooltip="client-02">
                                                    <img class="img-fluid" src="{% static 'images/client/client-02.png' %}" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="client-box ttm-box-view-boxed-logo">
                                            <div class="client">
                                                <div class="ttm-client-logo-tooltip" data-tooltip="client-03">
                                                    <img class="img-fluid" src="{% static 'images/client/client-03.png' %}" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="client-box ttm-box-view-boxed-logo">
                                            <div class="client">
                                                <div class="ttm-client-logo-tooltip" data-tooltip="client-01">
                                                    <img class="img-fluid" src="{% static 'images/client/client-01.png' %}" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="client-box ttm-box-view-boxed-logo">
                                            <div class="client">
                                                <div class="ttm-client-logo-tooltip" data-tooltip="client-02">
                                                    <img class="img-fluid" src="{% static 'images/client/client-02.png' %}" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="client-box ttm-box-view-boxed-logo">
                                            <div class="client">
                                                <div class="ttm-client-logo-tooltip" data-tooltip="client-03">
                                                    <img class="img-fluid" src="{% static 'images/client/client-03.png' %}" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- ttm-client end -->
                                </div>
                            </div>
                            <div class="ttm-service-description mb-30">
                                <h4>Analytics Solutions</h4>
                                <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                            </div>
                            <div class="row mb-30">
                                <div class="col-md-6">
                                    <div class="ttm_single_image-wrapper">
                                        <img class="img-fluid" src="{% static 'images/single-img-eleven.jpg' %}" alt="single-img-eleven">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ttm-service-description res-767-mt-30">
                                        <h4>Advance Analytics</h4>
                                        <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                                        <ul class="ttm-list ttm-list-style-icon mt-15">
                                            <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="ttm-list-li-content">Sed elementum ante nec urna</span>
                                            </li>
                                            <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="ttm-list-li-content">Duis id orci feugiat laoreet</span>
                                            </li>
                                            <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="tm-list-li-content">Donec mollis mi in leo elementum</span>
                                            </li>
                                            <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="ttm-list-li-content">Duis id orci feugiat laoreet</span>
                                            </li>
                                            <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="tm-list-li-content">Donec mollis mi in leo elementum</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area ttm-bgcolor-grey">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                                    <li class="active"><a href="{% url 'analytics' %}">Analytics Solutions</a></li>
                                                    <li><a href="{% url 'growth' %}">Business Growth</a></li>
                                                    <li><a href="{% url 'corporate' %}">Corporate Finance</a></li>
                                                    <li><a href="{% url 'advance_reports' %}">Advance Reports</a></li>
                                                    <li><a href="{% url 'chain_management' %}">Chain Management</a></li>
                                                    <li><a href="{% url 'advanced_analytics' %}">Advanced Analytics</a></li>
                                                </ul>
                        </aside>
                        <aside class="widget widget-download">
                            <ul class="download">
                                <li>
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                        <i class="fa fa-file-pdf-o"></i>
                                    </div>
                                    <a href="#">Download.pdf</a>
                                </li>
                                <li>
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                        <i class="fa fa-file-word-o"></i>
                                    </div>
                                    <a href="#">Our ISO Certificate</a>
                                </li>
                                <li>
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                        <i class="fa fa-file-o"></i>
                                    </div>
                                    <a href="#">Download.txt</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget post-widget">
                            <h3 class="widget-title">Latest News</h3>
                            <ul class="widget-post ttm-recent-post-list">
                                <li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/blog-6.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">20 April,2018</span>
                                    <a href="single-blog.html" class="clearfix">Successful Growth In Business 2018</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/blog-7.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">01 August, 2018</span>
                                    <a href="single-blog.html" class="clearfix">Achieving Best Business Awards</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/blog-8.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">13 March, 2018</span>
                                    <a href="single-blog.html" class="clearfix">Seminar for Best Marketing Strategy</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget contact-widget">
                            <h3 class="widget-title">Get in touch</h3>      
                            <ul class="contact-widget-wrapper">
                                <li><i class="fa fa-map-marker"></i>Fondex Business 24 Fifth st., Los Angeles, USA</li>
                                <li><i class="fa fa-envelope-o"></i><a href="mailto:info@alekoinvest.com" target="_blank">info@alekoinvest.com</a></li>
                                <li><i class="fa fa-phone"></i>(+01) 123 456 7890</li>
                                <li><i class="ti ti-alarm-clock"></i>Mon - Sat 8.00 - 18.00. Sunday CLOSED</li>
                            </ul>
                        </aside>

                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->
    </div>
</body>
{% endblock content %}