<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Fondex – Business &amp; Finance Consulting HTML Template" />
<meta name="author" content="https://www.themetechmount.com/" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Aleko Capital Investment</title>

<!-- favicon icon -->
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />

<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>

<!-- animate -->
<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}"/>

<!-- owl-carousel -->
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">

<!-- fontawesome -->
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}"/>

<!-- themify -->
<link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}"/>

<!-- flaticon -->
<link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.css' %}"/>


<!-- REVOLUTION LAYERS STYLES -->

    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">

<!-- prettyphoto -->
<link rel="stylesheet" type="text/css" href="{% static 'css/prettyPhoto.css' %}">

<!-- shortcodes -->
<link rel="stylesheet" type="text/css" href="{% static 'css/shortcodes.css' %}"/>

<!-- main -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>

<!-- responsive -->
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}"/>

</head>

<!--header start-->
        <header id="masthead" class="header ttm-header-style-classic">

            <!-- ttm-header-wrap -->
            <div class="ttm-header-wrap">
                <!-- ttm-stickable-header-w -->
                <div id="ttm-stickable-header-w" class="ttm-stickable-header-w clearfix">
                    <div id="site-header-menu" class="site-header-menu">
                        <div class="site-header-menu-inner ttm-stickable-header">
                            <div class="container">
                                <!-- site-branding -->
                                <div class="site-branding">
                                    <a class="home-link" href="{% url 'home' %}" title="Fondex" rel="home">
                                        <img id="logo-img" class="img-center" src="{% static 'images/alekologo.png' %}" alt="logo-img">
                                    </a>
                                </div><!-- site-branding end -->
                                <!--site-navigation -->
                                <div id="site-navigation" class="site-navigation">
                                   <!-- <div class="header-btn">
                                        <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-black" href="#">GET START NOW!</a>
                                    </div>-->
                                    <div class="ttm-rt-contact">
                                        <!-- header-icons -->
                                        <div class="ttm-header-icons">
                                            <div class="ttm-header-icon ttm-header-search-link">
                                                <a href="#"><i class="ti ti-search"></i></a>
                                                <div class="ttm-search-overlay">
                                                    <form method="get" class="ttm-site-searchform" action="#">
                                                        <div class="w-search-form-h">
                                                            <div class="w-search-form-row">
                                                                <div class="w-search-input">
                                                                    <input type="search" class="field searchform-s" name="s" placeholder="Type Word Then Enter...">
                                                                    <button type="submit">
                                                                        <i class="ti ti-search"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div><!-- header-icons end -->
                                    </div>
                                    <div class="ttm-menu-toggle">
                                        <input type="checkbox" id="menu-toggle-form" />
                                        <label for="menu-toggle-form" class="ttm-menu-toggle-block">
                                            <span class="toggle-block toggle-blocks-1"></span>
                                            <span class="toggle-block toggle-blocks-2"></span>
                                            <span class="toggle-block toggle-blocks-3"></span>
                                        </label>
                                    </div>
                                    <nav id="menu" class="menu">
                                        <ul class="dropdown">
                                           <li class="active"><a href="{% url 'home' %}">Home</a>
                                            </li>
                                            <li><a href="{% url 'about' %}">About</a>
                                            </li>
                                            <li><a href="#">Services</a>
                                                <ul>
                                                    {% for service in Service %}
                                                    <li><a href="{% url 'service' service.category.slug service.slug %}">{{service.title}}</a></li>
                                                    {% endfor %}
                                                    <!--<li><a href="">Business Growth</a></li>
                                                    <li><a href="">Corporate Finance</a></li>-->
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'contact' %}">Contact</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div><!-- site-navigation end-->
                            </div>
                        </div>
                    </div>
                </div><!-- ttm-stickable-header-w end-->
            </div><!--ttm-header-wrap end -->
        </header><!--header end-->

{% block content %}

{% endblock content %}

<!--footer start-->
    <footer class="footer widget-footer clearfix">
        <div class="first-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="first-footer-inner">
                            <div class="footer-logo">
                                <img id="footer-logo-img" class="img-center" src="{% static 'images/alekologo.png' %}" alt="">
                            </div>
                            <div class="row no-gutters footer-box">
                                <div class="col-md-4 widget-area">
                                    <div class="featured-box text-center">
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Our Address</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>28 Apple Cross, Lavington, Nairobi, Kenya</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 widget-area">
                                    <div class="featured-box text-center">
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Chat With Expert</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>+254 722 727 181 or +254 722 488900</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 widget-area">
                                    <div class="featured-box text-center">
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Email Us</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>info@alekoinvest.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="second-footer ttm-textcolor-white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_text  clearfix">
                            <h3 class="widget-title">About Aleko</h3>
                            <div class="textwidget widget-text">
                                We pride ourselves in providing quality and affordable plans for you to be able to achieve finnancial success . Contact Us today and be finnancialy secure.
                                <br><br>
                                <div class="social-icons circle social-hover">
                                    <ul class="list-inline">
                                        <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-twitter"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li class="social-flickr"><a class=" tooltip-top" target="_blank" href="#" data-tooltip="flickr"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                                        <li class="social-linkedin"><a class=" tooltip-top" target="_blank" href="#" data-tooltip="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <br>
                                <div class="mb-20">
                                    <a class="ttm-btn ttm-btn-size-xs ttm-btn-shape-square ttm-btn-style-fill ttm-btn-bgcolor-skincolor ttm-btn-color-white" href="{% url 'about' %}">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_nav_menu clearfix">
                           <h3 class="widget-title">Quick Links</h3>
                            <ul id="menu-footer-services">
                                <li><a href="#">Make Appointment</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About Company</a></li>
                                <!--<li><a href="#">Our Case Studies</a></li>
                                <li><a href="#">Free Consultation</a></li>
                                <li><a href="#">Meet Our Experts</a></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_text clearfix">
                            <h3 class="widget-title">Latest News</h3>
                            <ul class="widget-post ttm-recent-post-list">
                                <li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/01.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">May 01, 2019</span>
                                    <a href="single-blog.html">Successful Growth In Business 2018</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/02.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">May 03, 2019</span>
                                    <a href="single-blog.html">Achieving Best Business Awards</a>
                                </li>
                                <!--<li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/03.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">May 05, 2019</span>
                                    <a href="single-blog.html">Seminar for Best Marketing Strategy</a>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                        <div class="widget flicker_widget clearfix">
                           <h3 class="widget-title">Our Branches</h3>
                           <div class="textwidget widget-text">
                                <!--<img src="{% static 'images/map-foote.png' %}" class="img-fluid" alt="map-footer">
                                <br>
                                <br>-->
                                <ul class="ttm-our-location-list">
                                    <li><i class="fa fa-map-marker"></i>Nairobi: +254 722 727 181</li>
                                    <li><i class="fa fa-map-marker"></i>Arusha: +254 722 488900</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer-text ttm-textcolor-white">
            <div class="container">
                <div class="row copyright">
                    <div class="col-md-12">
                        <div class="">
                            <span>Copyright © 2022&nbsp;<a href="#">Aleko Capital</a>. Powered by mevelink.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end-->
<!--back-to-top start-->
    <a id="totop" href="#top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!--back-to-top end-->

</div><!-- page end -->
<!-- Javascript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.js' %}"></script>
    <script src="{% static 'js/jquery-waypoints.js' %}"></script>
    <script src="{% static 'js/jquery-validate.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/numinate.min6959.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/circle-progress.min.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
    <!-- Revolution Slider -->
    <script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'revolution/js/slider.js' %}"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <!-- Javascript end-->
</html>

