{% extends 'administrator/base.html' %}
{% load static %}
{% block content %}
<body>

    <!--page start-->
    <div class="page sidebar-true">

        <!-- preloader start -->
        <!--<div id="preloader">
          <div id="status">&nbsp;</div>
        </div>-->
        <!-- preloader end -->

        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box ttm-textcolor-white">
                            <div class="page-title-heading">
                                <h1 class="title"> Business Growth</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="{% url 'home' %}"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; | &nbsp;</span>
                                <span> Business Growth </span>
                            </div>  
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- page-title end-->

        <!--site-main start-->
        <div class="site-main">
            <!-- sidebar -->
            <div class="sidebar ttm-sidebar-left ttm-bgcolor-white clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row d-block">
                        <div class="col-lg-9 content-area">
                            <!-- ttm-service-single-content-are -->
                            <div class="ttm-service-single-content-area">
                                <div class="ttm_single_image-wrapper mb-45">
                                    <img class="img-fluid" src="{% static 'images/blog/blog-2.jpg' %}" alt="blog-2">
                                </div>
                                <div class="ttm-service-description mb-30">
                                    <h4>Services Overview</h4>
                                    <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </div>
                                <div class="row mb-30">
                                    <div class="col-md-6">
                                        <div class="">
                                            <ul class="ttm-list ttm-list-style-icon">
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="ttm-list-li-content">Maecenas nec odio et ante tincidunt tempus.</span>
                                                </li>
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="ttm-list-li-content">Donec vitae sapien ut libero venenatis faucibus.</span>
                                                </li>
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="tm-list-li-content">Etiam sit amet orci eget eros faucibus tincidunt.</span>
                                                </li>
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="ttm-list-li-content">Duis id orci feugiat laoreet</span>
                                                </li>
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="tm-list-li-content">Etiam sit amet orci eget eros faucibus tincidunt.</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="">
                                            <ul class="ttm-list ttm-list-style-icon">
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="ttm-list-li-content">Maecenas nec odio et ante tincidunt tempus.</span>
                                                </li>
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="ttm-list-li-content">Donec vitae sapien ut libero venenatis faucibus.</span>
                                                </li>
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="tm-list-li-content">Etiam sit amet orci eget eros faucibus tincidunt.</span>
                                                </li>
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="ttm-list-li-content">Duis id orci feugiat laoreet</span>
                                                </li>
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="tm-list-li-content">Etiam sit amet orci eget eros faucibus tincidunt.</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="ttm-service-description mb-20">
                                    <h4>Business Analytics</h4>
                                    <p>Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <!-- featured-icon-box -->
                                        <div class="featured-icon-box text-center mb-30">
                                            <div class="featured-icon"><!-- featured-icon-->
                                                <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg"> 
                                                    <i class="fa fa-building-o"></i>
                                                </div>
                                            </div><!-- featured-icon -->
                                            <div class="featured-content"><!-- featured-content -->
                                                <div class="featured-title">
                                                    <h5>Business Solution</h5>
                                                </div>
                                                <div class="featured-desc">
                                                    <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>
                                                </div>
                                            </div><!-- featured-content -->
                                        </div><!-- featured-icon-box -->
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <!-- featured-icon-box -->
                                        <div class="featured-icon-box text-center mb-30">
                                            <div class="featured-icon"><!-- featured-icon-->
                                                <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg"> 
                                                    <i class="ti ti-bar-chart"></i>
                                                </div>
                                            </div><!-- featured-icon -->
                                            <div class="featured-content"><!-- featured-content -->
                                                <div class="featured-title">
                                                    <h5>Best Consulting</h5>
                                                </div>
                                                <div class="featured-desc">
                                                    <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>
                                                </div>
                                            </div><!-- featured-content -->
                                        </div><!-- featured-icon-box -->
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <!-- featured-icon-box -->
                                        <div class="featured-icon-box text-center mb-30">
                                            <div class="featured-icon"><!-- featured-icon-->
                                                <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg"> 
                                                    <i class="ti ti-bookmark-alt"></i>
                                                </div>
                                            </div><!-- featured-icon -->
                                            <div class="featured-content"><!-- featured-content -->
                                                <div class="featured-title">
                                                    <h5>Corporate Solution</h5>
                                                </div>
                                                <div class="featured-desc">
                                                    <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>
                                                </div>
                                            </div><!-- featured-content -->
                                        </div><!-- featured-icon-box -->
                                    </div>
                                </div>
                                <div class="ttm-service-description mb-20">
                                    <h4>Competitor Research &amp; Analysis</h4>
                                </div>
                                <div class="row mb-20">
                                    <div class="col-md-6">
                                        <div class="">
                                            <p>Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies.</p>
                                            <!--<ul class="ttm-list ttm-list-style-icon mt-15">
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="ttm-list-li-content">Sed elementum ante nec urna</span>
                                                </li>
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="ttm-list-li-content">Duis id orci feugiat laoreet</span>
                                                </li>
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="tm-list-li-content">Donec mollis mi in leo elementum</span>
                                                </li>
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="ttm-list-li-content">Duis id orci feugiat laoreet</span>
                                                </li>
                                                <li><i class="ttm-textcolor-skincolor fa fa-arrow-circle-o-right"></i><span class="tm-list-li-content">Donec mollis mi in leo elementum</span>
                                                </li>
                                            </ul>-->
                                        </div>
                                    </div>
                                    <!--<div class="col-md-6">
                                        <div class="res-767-mt-20">
                                            <canvas id="researchChart" width="600" height="400"></canvas>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <!-- ttm-service-single-content-are end -->
                        </div>
                        <div class="col-lg-3 widget-area ttm-bgcolor-grey">
                            <aside class="widget widget-nav-menu">
                                <ul class="widget-menu">
                                                    <li ><a href="{% url 'analytics' %}">Analytics Solutions</a></li>
                                                    <li class="active"><a href="{% url 'growth' %}">Business Growth</a></li>
                                                    <li><a href="{% url 'corporate' %}">Corporate Finance</a></li>
                                                    <li><a href="{% url 'advance_reports' %}">Advance Reports</a></li>
                                                    <li><a href="{% url 'chain_management' %}">Chain Management</a></li>
                                                    <li><a href="{% url 'advanced_analytics' %}">Advanced Analytics</a></li>
                                                </ul>
                            </aside>
                            <aside class="widget widget-download">
                                <ul class="download">
                                    <li>
                                        <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                            <i class="fa fa-file-pdf-o"></i>
                                        </div>
                                        <a href="#">Download.pdf</a>
                                    </li>
                                    <li>
                                        <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                            <i class="fa fa-file-word-o"></i>
                                        </div>
                                        <a href="#">Our ISO Certificate</a>
                                    </li>
                                    <li>
                                        <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                            <i class="fa fa-file-o"></i>
                                        </div>
                                        <a href="#">Download.txt</a>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="widget post-widget">
                                <h3 class="widget-title">Latest News</h3>
                                <ul class="widget-post ttm-recent-post-list">
                                    <li>
                                        <a href="single-blog.html"><img src="{% static 'images/blog/blog-6.jpg' %}" alt="post-img"></a>
                                        <span class="post-date">20 April,2018</span>
                                        <a href="single-blog.html" class="clearfix">Successful Growth In Business 2018</a>
                                    </li>
                                    <li>
                                        <a href="single-blog.html"><img src="{% static 'images/blog/blog-7.jpg' %}" alt="post-img"></a>
                                        <span class="post-date">01 August, 2018</span>
                                        <a href="single-blog.html" class="clearfix">Achieving Best Business Awards</a>
                                    </li>
                                    <li>
                                        <a href="single-blog.html"><img src="{% static 'images/blog/blog-8.jpg' %}" alt="post-img"></a>
                                        <span class="post-date">13 March, 2018</span>
                                        <a href="single-blog.html" class="clearfix">Seminar for Best Marketing Strategy</a>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="widget contact-widget">
                                <h3 class="widget-title">Get in touch</h3>      
                                <ul class="contact-widget-wrapper">
                                    <li><i class="fa fa-map-marker"></i>28 Apple Cross, Lavington, Nairobi, Kenya</li>
                                    <li><i class="fa fa-envelope-o"></i><a href="mailto:info@alekoinvest.com" target="_blank">info@alekoinvest.com</a></li>
                                    <li><i class="fa fa-phone"></i>+2547 22 727 181</li>
                                    <li><i class="ti ti-alarm-clock"></i>Mon - Sat 8.00 - 18.00. Sunday CLOSED</li>
                                </ul>
                            </aside>
                        </div>
                    </div><!-- row end -->
                </div>
            </div>
            <!-- sidebar end -->
        </div><!--site-main end-->
    </div>

    <script>
        var researchCanvas = document.getElementById("researchChart");

        Chart.defaults.global.defaultFontFamily = "Poppins";
        Chart.defaults.global.defaultFontSize = 14;
        Chart.defaults.global.defaultFontStyle = "italic";

        var dataFirst = {
            label: "research-1",
            data: [0, 8, 15, 20, 18, 15, 10],
            lineTension: 0,
            fill: false,
            borderColor: 'rgba(247, 23, 53,1)'
          };

        var dataSecond = {
            label: "research-2",
            data: [25, 15, 5, 3, 5, 20, 35],
            lineTension: 0,
            fill: false,
            borderColor: 'rgba(93, 75, 176,1)'
          };

        var researchData = {
          labels: ["JAN", "FEB", "MAR", "APR", "MAY", "JUNE", "JULY"],
          datasets: [dataFirst, dataSecond]
        };

        var chartOptions = {
          legend: {
            display: true,
            position: 'bottom',
            labels: {
              boxWidth: 20,
              fontColor: 'black'
            }
          }
        };

        var lineChart = new Chart(researchCanvas, {
          type: 'line',
          data: researchData,
          options: chartOptions
        });
   </script> 

    <!-- Javascript end-->

</body>
{% endblock content %}