{% extends 'administrator/base.html' %}
{% load static %}
{% block content %}
<body>

    <!--page start-->
    <div class="page sidebar-true">

        <!-- preloader start -->
        <!--<div id="preloader">
          <div id="status">&nbsp;</div>
        </div>-->
        <!-- preloader end -->
        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box ttm-textcolor-white">
                            <div class="page-title-heading">
                                <h1 class="title"> Corporate Finanace</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; | &nbsp;</span>
                                <span> Corporate Finanace </span>
                            </div>  
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar-left ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row d-block">
                    <div class="col-lg-9 content-area">
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'images/blog/blog-1.jpg' %}" alt="blog-1">
                            </div>
                            <div class="ttm-service-description mb-30">
                                <p>Lorem ipsum dolor sit amet, tale porro no mei, nam ut assum aliquip fastidii. At sea utamur saperet, et quo tempor feugiat molestie. Cum modus tritani ut, quod nostrum ad eum, ad his putent latine.
                                </p>
                                <p>Lorem ipsum dolor sit amet, tale porro no mei, nam ut assum aliquip fastidii. At sea utamur saperet, et quo tempor feugiat molestie. Cum modus tritani ut, quod nostrum ad eum, ad his putent latine. Et iudicabit theophrastus signiferumque vis. Ne stet pericula vituperata sit. Ex mel illum inani nemore, adolescens efficiendi te pri. Et nec natum inciderint, eos ex gubergren sententiae efficiendi, saepe singulis iudicabit eu qui. Vel aliquip nominati laboramus an. Nemore tincidunt ea mel, eos cu alii insolens signiferumque. Te nec dolor clita partem, mea ne iuvaret aliquid.Id nam illum augue commodo.</p>
                                <p>Lorem ipsum dolor sit amet, tale porro no mei, nam ut assum aliquip fastidii. At sea utamur saperet, et quo tempor feugiat molestie. Cum modus tritani ut, quod nostrum ad eum, ad his putent latine. Et iudicabit theophrastus signiferumque vis. Ne stet pericula vituperata sit.</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- featured-icon-box-->
                                    <div class="featured-icon-box left-icon icon-align-top mb-30">
                                        <div class="featured-icon"><!-- featured-icon-->
                                            <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                                <i class="ti ti-server"></i>
                                            </div>
                                        </div><!-- featured-icon end-->
                                        <div class="featured-content"><!-- featured-content-->
                                            <div class="featured-title"><!-- featured-title-->
                                                <h5 class="mb-5">Advanced Analytics</h5>
                                            </div>
                                            <div class="featured-desc"><!-- featured-desc-->
                                                <p>SDonec tincidunt vitae eros a vehicula. Phasellus euismod nibh ante,vitae gravida dolor volutpat vel.</p>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                    <!-- featured-icon-box-->
                                    <div class="featured-icon-box left-icon icon-align-top mb-30">
                                        <div class="featured-icon"><!-- featured-icon-->
                                            <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                                <i class="ti ti-world"></i>
                                            </div>
                                        </div><!-- featured-icon end-->
                                        <div class="featured-content"><!-- featured-content-->
                                            <div class="featured-title"><!-- featured-title-->
                                                <h5 class="mb-5">Financial Solution</h5>
                                            </div>
                                            <div class="featured-desc"><!-- featured-desc-->
                                                <p>SDonec tincidunt vitae eros a vehicula. Phasellus euismod nibh ante,vitae gravida dolor volutpat vel.</p>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <div class="col-md-6">
                                    <!-- featured-icon-box-->
                                    <div class="featured-icon-box left-icon icon-align-top mb-30">
                                        <div class="featured-icon"><!-- featured-icon-->
                                            <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                                <i class="ti ti-package"></i>
                                            </div>
                                        </div><!-- featured-icon end-->
                                        <div class="featured-content"><!-- featured-content-->
                                            <div class="featured-title"><!-- featured-title-->
                                                <h5 class="mb-5">Financial Planning</h5>
                                            </div>
                                            <div class="featured-desc"><!-- featured-desc-->
                                                <p>SDonec tincidunt vitae eros a vehicula. Phasellus euismod nibh ante,vitae gravida dolor volutpat vel.</p>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                    <!-- featured-icon-box-->
                                    <div class="featured-icon-box left-icon icon-align-top mb-30">
                                        <div class="featured-icon"><!-- featured-icon-->
                                            <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                                <i class="ti ti-bar-chart"></i>
                                            </div>
                                        </div><!-- featured-icon end-->
                                        <div class="featured-content"><!-- featured-content-->
                                            <div class="featured-title"><!-- featured-title-->
                                                <h5 class="mb-5">Advanced Strategy</h5>
                                            </div>
                                            <div class="featured-desc"><!-- featured-desc-->
                                                <p>SDonec tincidunt vitae eros a vehicula. Phasellus euismod nibh ante,vitae gravida dolor volutpat vel.</p>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <!-- acadion -->
                                    <div class="accordion pt-10 mb-35">
                                        <!-- toggle -->
                                        <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey active">
                                            <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Lorem ipsum dolor sit amet, consectetur?</a></div>
                                            <div class="toggle-content">
                                                <p>Donec tincidunt vitae eros a vehicula. Phasellus euismod nibh ante, vitae gravida dolor volutpat vel. Aliquam eu magna tempor, varius libero ac, cursus erat.</p>
                                            </div>
                                        </div><!-- toggle end -->
                                        <!-- toggle -->
                                        <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey">
                                            <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Dapibus sit amet ultrices pharetra, congue.</a></div>
                                            <div class="toggle-content">
                                                <p>Donec tincidunt vitae eros a vehicula. Phasellus euismod nibh ante, vitae gravida dolor volutpat vel. Aliquam eu magna tempor, varius libero ac, cursus erat.</p>
                                            </div>
                                        </div><!-- toggle end -->
                                        <!-- toggle -->
                                        <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey">
                                            <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Integer feugiat lorem neque, sed tincidunt!</a></div>
                                            <div class="toggle-content">
                                                <p>Donec tincidunt vitae eros a vehicula. Phasellus euismod nibh ante, vitae gravida dolor volutpat vel. Aliquam eu magna tempor, varius libero ac, cursus erat.</p>
                                            </div>
                                        </div><!-- toggle end -->
                                    </div><!-- acadion end-->
                                </div>
                                <div class="col-md-5">
                                    <div class="ttm_single_image-wrapper res-767-mt-20">
                                        <img class="img-fluid" src="{% static 'images/blog/blog-3.jpg' %}" alt="blog-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area ttm-bgcolor-grey mb-50">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                <li><a href="analytics-solutions.html">Analytics Solutions</a></li>
                                <li><a href="business-growth.html">Business Growth</a></li>
                                <li class="active"><a href="corporate-finanace.html">Corporate Finanace</a></li>
                                <li><a href="advance-reports.html">Advance Reports</a></li>
                                <li><a href="chain-management.html">Chain Management</a></li>
                                <li><a href="advanced-analytics.html">Advanced Analytics</a></li>
                            </ul>
                        </aside>
                        <aside class="widget widget-download">
                            <ul class="download">
                                <li>
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                        <i class="fa fa-file-pdf-o"></i>
                                    </div>
                                    <a href="#">Download.pdf</a>
                                </li>
                                <li>
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                        <i class="fa fa-file-word-o"></i>
                                    </div>
                                    <a href="#">Our ISO Certificate</a>
                                </li>
                                <li>
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                        <i class="fa fa-file-o"></i>
                                    </div>
                                    <a href="#">Download.txt</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget post-widget">
                            <h3 class="widget-title">Latest News</h3>
                            <ul class="widget-post ttm-recent-post-list">
                                <li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/blog-6.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">20 April,2018</span>
                                    <a href="single-blog.html" class="clearfix">Successful Growth In Business 2018</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/blog-7.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">01 August, 2018</span>
                                    <a href="single-blog.html" class="clearfix">Achieving Best Business Awards</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/blog-8.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">13 March, 2018</span>
                                    <a href="single-blog.html" class="clearfix">Seminar for Best Marketing Strategy</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget contact-widget">
                            <h3 class="widget-title">Get in touch</h3>      
                            <ul class="contact-widget-wrapper">
                                <li><i class="fa fa-map-marker"></i>Fondex Business 24 Fifth st., Los Angeles, USA</li>
                                <li><i class="fa fa-envelope-o"></i><a href="mailto:info@alekoinvest.com" target="_blank">info@alekoinvest.com</a></li>
                                <li><i class="fa fa-phone"></i>(+01) 123 456 7890</li>
                                <li><i class="ti ti-alarm-clock"></i>Mon - Sat 8.00 - 18.00. Sunday CLOSED</li>
                            </ul>
                        </aside>
                        <aside class="widget tagcloud-widget">
                            <h3 class="widget-title">Tags</h3>
                            <div class="tagcloud">
                                <a href="#" class="tag-cloud-link">Business</a>
                                <a href="#" class="tag-cloud-link">Consulting</a>
                                <a href="#" class="tag-cloud-link">Financial Support</a>
                                <a href="#" class="tag-cloud-link">Investment</a>
                                <a href="#" class="tag-cloud-link">Marketing</a>
                                <a href="#" class="tag-cloud-link">Seminar</a>
                                <a href="#" class="tag-cloud-link">Strategies</a>
                            </div>
                        </aside>
                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->
    </div>
</body>
{% endblock content %}