{% extends 'administrator/base.html' %}
{% load static %}
{% block content %}
<body>

    <!--page start-->
    <div class="page">

        <!-- preloader start -->
        <!--<div id="preloader">
          <div id="status">&nbsp;</div>
        </div>-->
        <!-- preloader end -->
        <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container slide-overlay" data-alias="classic4export" data-source="gallery">
            <!-- START REVOLUTION SLIDER 5.4.8 auto mode -->
            <div id="rev_slider_4_1" class="rev_slider fullwidthabanner rev_slider_4_1_height" data-version="5.4.8.1">
                
                <ul>    <!-- SLIDE  -->
                    <li data-index="rs-11" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="{% static 'images/slides/img8.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/slides/img8.jpg' %}"  alt="" title="home-main-sliderbg01"  width="1920" height="730" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption ttm-textcolor-skincolor tp-resizeme" id="slide-1-layer-1" data-x="['left','left','center','center']" data-hoffset="['50','50','-628','-684']" data-y="['top','top','middle','middle']" data-voffset="['159','159','-116','46']" 
                        data-fontsize="['14','14','12','11']"
                        data-fontweight="['600','600','700','700']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-visibility="['on','on','off','off']"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"delay":140,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        >REACH OUT TO US FOR</div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme" 
                        id="slide-1-layer-2" 
                        data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" 
                        data-y="['top','top','middle','middle']" data-voffset="['185','185','-107','-87']" 
                        
                        data-fontsize="['60','60','50','40']"
                        data-lineheight="['75','75','75','60']"
                        data-fontweight="['700','700','700','700']"
                        data-color="['rgb(255,255,255)','rgb(255,255,255)','rgb(255,255,255)','rgb(255,255,255)']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"delay":380,"speed":800,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        >Customized Financial  </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme" 
                            id="slide-1-layer-3" 
                            data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" 
                            data-y="['top','top','middle','middle']" data-voffset="['257','257','-46','-38']" 
                            
                            data-fontsize="['60','60','50','40']"
                            data-lineheight="['75','75','75','60']"
                            data-fontweight="['700','700','700','700']"
                            data-color="['rgb(255,255,255)','rgb(255,255,255)','rgb(255,255,255)','rgb(255,255,255)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":540,"speed":800,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            >Planning &  <strong class="ttm-textcolor-skincolor">Investing</strong> </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-resizeme" 
                            id="slide-1-layer-4" 
                            data-x="['left','left','center','center']" data-hoffset="['50','50','-702','-702']" 
                            data-y="['top','top','middle','middle']" data-voffset="['350','350','247','247']" 
                            
                            data-fontsize="['16','16','14','14']"
                            data-lineheight="['26','26','24','24']"
                            data-fontweight="['400','400','400','400']"
                            data-color="['rgb(222,222,222)','rgb(222,222,222)','rgb(222,222,222)','rgb(222,222,222)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-visibility="['on','on','off','off']"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":830,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','center','center']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            >We are here to help you in every area of your financial needs in achieving your Project/Business dream with our vast <br> expertise in the financial sector we have been able to support over 80 projects worldwide. </div>

                        <!-- LAYER NR. 5 -->
                        <a class="tp-caption skin-flat-button tp-resizeme" href="#" target="_self"
                            id="slide-1-layer-5" 
                            data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" 
                            data-y="['top','top','middle','middle']" data-voffset="['452','452','39','31']" 
                            data-fontsize="['13','13','12','11']"
                            data-lineheight="['13','13','12','11']"
                            data-fontweight="['700','700','700','700']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-actions=''
                            data-responsive_offset="on" 
                            data-frames='[{"delay":910,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[16,16,14,12]"
                            data-paddingright="[35,35,30,25]"
                            data-paddingbottom="[16,16,14,12]"
                            data-paddingleft="[35,35,30,25]"
                            >OUR SERVICES </a>

                        <!-- LAYER NR. 6 -->
                        <a class="tp-caption white-flatborder-button tp-resizeme" href="#" target="_self"             
                            id="slide-1-layer-6" 
                            data-x="['left','left','center','center']" data-hoffset="['231','231','0','0']" 
                            data-y="['top','top','middle','middle']" data-voffset="['452','452','101','82']" 
                            
                            data-fontsize="['13','13','12','11']"
                            data-lineheight="['13','13','12','11']"
                            data-fontweight="['700','700','700','700']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-actions=''
                            data-responsive_offset="on" 
                            data-frames='[{"delay":990,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[15,15,14,12]"
                            data-paddingright="[35,35,30,25]"
                            data-paddingbottom="[15,15,14,12]"
                            data-paddingleft="[35,35,30,25]"
                            >QUICK CALL BACK </a>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-12" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="{% static 'images/slides/img6.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/slides/img6.jpg' %}"  alt="" title="Home 1"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption tp-resizeme ttm-textcolor-skincolor" 
                            id="slide-2-layer-1" 
                            data-x="['center','center','center','center']" data-hoffset="['0','0','-628','-684']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['-149','-149','-116','46']" 
                            
                            data-fontsize="['14','14','12','11']"
                            data-lineheight="['14','14','14','14']"
                            data-fontweight="['600','600','700','700']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-visibility="['on','on','off','off']"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":140,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            >WE HELP YOU TO </div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption tp-resizeme" 
                            id="slide-2-layer-2" 
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                            data-y="['top','top','middle','middle']" data-voffset="['233','233','-77','-60']" 
                            data-fontsize="['60','60','50','40']"
                            data-lineheight="['75','75','75','60']"
                            data-fontweight="['700','700','700','700']"
                            data-color="['rgb(255,255,255)','rgb(255,255,255)','rgb(255,255,255)','rgb(255,255,255)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":370,"speed":800,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            >Invest In </div>

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption tp-resizeme" 
                            id="slide-2-layer-3" 
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                            data-y="['top','top','middle','middle']" data-voffset="['307','307','-16','-11']" 
                            
                            data-fontsize="['60','60','50','40']"
                            data-lineheight="['75','75','75','60']"
                            data-fontweight="['700','700','700','700']"
                            data-color="['rgb(255,255,255)','rgb(255,255,255)','rgb(255,255,255)','rgb(255,255,255)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":640,"speed":800,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            >Your Future </div>

                        <!-- LAYER NR. 10 -->
                        <a class="tp-caption tp-resizeme skin-flat-button" href="#" target="_self"             
                            id="slide-2-layer-4" 
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['77','77','69','58']" 
                            
                            data-fontsize="['13','13','12','11']"
                            data-lineheight="['13','13','12','11']"
                            data-fontweight="['700','700','700','700']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-actions=''
                            data-responsive_offset="on" 
                            data-frames='[{"delay":1070,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[16,16,14,12]"
                            data-paddingright="[35,35,30,25]"
                            data-paddingbottom="[16,16,14,12]"
                            data-paddingleft="[35,35,30,25]"
                            >OUR SERVICES </a>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-14" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="{% static 'images/slides/img.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/slides/img.jpg' %}"  alt="" title="Home 1"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption tp-resizeme ttm-textcolor-skincolor" 
                            id="slide-3-layer-1" 
                            data-x="['center','center','center','center']" data-hoffset="['64','-16','-628','-684']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['-194','-174','-116','46']" 
                            
                            data-fontsize="['15','15','12','11']"
                            data-lineheight="['15','15','14','14']"
                            data-fontweight="['600','600','700','700']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-visibility="['on','on','off','off']"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":210,"speed":500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            >GREAT EXPERIENCE </div>

                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption tp-resizeme" 
                            id="slide-3-layer-2" 
                            data-x="['center','center','center','center']" data-hoffset="['167','87','0','0']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['-141','-121','-102','-86']" 
                            
                            data-fontsize="['60','60','50','40']"
                            data-lineheight="['75','75','75','60']"
                            data-fontweight="['700','700','700','700']"
                            data-color="['rgb(5, 6, 43)','rgb(5, 6, 43)','rgb(5, 6, 43)','rgb(5, 6, 43)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":330,"speed":800,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            >We are concentrated  </div>

                        <!-- LAYER NR. 13 -->
                        <div class="tp-caption tp-resizeme" 
                            id="slide-3-layer-3" 
                            data-x="['center','center','center','center']" data-hoffset="['280','200','0','0']" 
                            data-y="['top','top','middle','middle']" data-voffset="['256','256','-41','-37']" 
                            
                            data-fontsize="['60','60','50','40']"
                            data-lineheight="['75','75','75','60']"
                            data-fontweight="['700','700','700','700']"
                            data-color="['rgb(5, 6, 43)','rgb(5, 6, 43)','rgb(5, 6, 43)','rgb(5, 6, 43)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":500,"speed":800,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            >growth equity investors </div>

                        <!-- LAYER NR. 14 -->
                        <div class="tp-caption tp-resizeme" 
                            id="slide-3-layer-4" 
                            data-x="['center','center','center','center']" data-hoffset="['227','147','-702','-702']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['6','6','247','247']" 
                            
                            data-fontsize="['17','17','14','14']"
                            data-lineheight="['26','26','24','24']"
                            data-fontweight="['400','400','400','400']"
                            data-color="['rgb(46, 50, 54)','rgb(46,50,54)','rgb(222,222,222)','rgb(222,222,222)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-visibility="['on','on','off','off']"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":890,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','center','center']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            >We pride ourselves in providing quality and affordable plans for you to be able to achieve finnancial success . <br> Contact Us today and be finnancialy secure . </div>

                        <!-- LAYER NR. 15 -->
                        <a class="tp-caption tp-resizeme black-flatborder-button" href="#" target="_self"             
                            id="slide-3-layer-5" 
                            data-x="['center','center','center','center']" data-hoffset="['83','3','0','0']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['96','96','46','34']" 
                            
                            data-fontsize="['13','13','12','11']"
                            data-lineheight="['13','13','12','11']"
                            data-fontweight="['700','700','700','700']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-actions=''
                            data-responsive_offset="on" 
                            data-frames='[{"delay":1000,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[15,15,14,12]"
                            data-paddingright="[35,35,30,25]"
                            data-paddingbottom="[15,15,14,12]"
                            data-paddingleft="[35,35,30,25]"
                            >OUR SERVICES </a>

                        <!-- LAYER NR. 16 -->
                        <a class="tp-caption tp-resizeme skin-flat-button" href="#" target="_self"             
                            id="slide-3-layer-6" 
                            data-x="['center','center','center','center']" data-hoffset="['266','186','0','0']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['96','96','103','87']" 
                            
                            data-fontsize="['13','13','12','11']"
                            data-lineheight="['13','13','12','11']"
                            data-fontweight="['700','700','700','700']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-actions=''
                            data-responsive_offset="on" 
                            data-frames='[{"delay":1120,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[16,16,14,12]"
                            data-paddingright="[35,35,30,25]"
                            data-paddingbottom="[16,16,14,12]"
                            data-paddingleft="[35,35,30,25]"
                            >CONTACT US </a>
                    </li>
                </ul>
            </div>
        </div>
       <!-- END REVOLUTION SLIDER -->

    <!--site-main start-->
    <div class="site-main">

        <!--row-top-section-->
        <section class="ttm-row row-top-section first-section ttm-bgcolor-grey clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt_86 mlr-30 res-991-mt-0">
                        <div class="row"><!-- row -->
                            <!-- post-slide -->
                            <div class="services-slide owl-carousel owl-theme owl-loaded" data-item="3" data-nav="false" data-dots="false" data-auto="false">
                                <!-- featured-imagebox-post -->
                                <!--<div class="featured-imagebox featured-imagebox-services text-center">
                                    <div class="featured-title">
                                        <h5><a href="corporate-finanace.html">Estate Planning</a></h5>
                                    </div>
                                    <div class="featured-thumbnail">
                                        <a href="#"><img class="img-fluid" src="{% static 'images/blog/06.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="featured-content featured-content-services">
                                        <div class="featured-desc">
                                            <p>Concerned with a variety of forms of company financing, aspects of the reorganization.</p>
                                        </div>
                                        <a href="#" class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-xs ttm-icon_element-style-round">
                                                <i class="ti ti-angle-right"></i>
                                        </a>
                                    </div>
                                </div>--><!-- featured-imagebox-post end -->
                                <!-- featured-imagebox-post -->
                                {% for service in service %}
                                <div class="featured-imagebox featured-imagebox-services text-center">
                                    <div class="featured-title">
                                        <h5><a href="{% url 'service' service.category.slug service.slug %}">{{service.title}}</a></h5>
                                    </div>
                                    <div class="featured-thumbnail">
                                        <a href="{% url 'service' service.category.slug service.slug %}"><img class="img-fluid" src="{{service.getImageURL}}" alt=""></a>
                                    </div>
                                    <div class="featured-content featured-content-services">
                                        <div class="featured-desc">
                                            <p>{{service.paragraph_1}}</p>
                                        </div>
                                        <a href="{% url 'service' service.category.slug service.slug %}" class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-xs ttm-icon_element-style-round">
                                                <i class="ti ti-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}<!-- featured-imagebox-post end -->
                                <!-- featured-imagebox-post -->
                                <!--<div class="featured-imagebox featured-imagebox-services text-center">
                                    <div class="featured-title">
                                        <h5><a href="business-growth.html">Impact Investing</a></h5>
                                    </div>
                                    <div class="featured-thumbnail">
                                        <a href="#"><img class="img-fluid" src="{% static 'images/blog/05.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="featured-content featured-content-services">
                                        <div class="featured-desc">
                                            <p>To implement future-oriented logistics strategies leading companies in all industries.</p>
                                        </div>
                                        <a href="#" class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-xs ttm-icon_element-style-round">
                                                <i class="ti ti-angle-right"></i>
                                        </a>
                                    </div>
                                </div>--><!-- featured-imagebox-post end -->
                                <!-- featured-imagebox-post -->
                                <!--<div class="featured-imagebox featured-imagebox-services text-center">
                                    <div class="featured-title">
                                        <h5><a href="advance-reports.html">Advance Reports</a></h5>
                                    </div>
                                    <div class="featured-thumbnail">
                                        <a href="#"><img class="img-fluid" src="{% static 'images/blog/07.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="featured-content featured-content-services">
                                        <div class="featured-desc">
                                            <p>We are in charge of, to increase of a  consumer brand awareness and the revenue.</p>
                                        </div>
                                        <a href="#" class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-xs ttm-icon_element-style-round">
                                                <i class="ti ti-angle-right"></i>
                                        </a>
                                    </div>
                                </div>--><!-- featured-imagebox-post end -->
                                <!-- featured-imagebox-post -->
                                <!--<div class="featured-imagebox featured-imagebox-services text-center">
                                    <div class="featured-title">
                                        <h5><a href="chain-management.html">Chain Management</a></h5>
                                    </div>
                                    <div class="featured-thumbnail">
                                        <a href="#"><img class="img-fluid" src="{% static 'images/blog/08.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="featured-content featured-content-services">
                                        <div class="featured-desc">
                                            <p>To implement future-oriented logistics strategies leading companies in all industries.</p>
                                        </div>
                                        <a href="#" class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-xs ttm-icon_element-style-round">
                                                <i class="ti ti-angle-right"></i>
                                        </a>
                                    </div>
                                </div>--><!-- featured-imagebox-post end -->
                                <!-- featured-imagebox-post -->
                                <!--<div class="featured-imagebox featured-imagebox-services text-center">
                                    <div class="featured-title">
                                        <h5><a href="advanced-analytics.html">Advanced Analytics</a></h5>
                                    </div>
                                    <div class="featured-thumbnail">
                                        <a href="#"><img class="img-fluid" src="{% static 'images/blog/09.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="featured-content featured-content-services">
                                        <div class="featured-desc">
                                            <p>Concerned with a variety of forms of company financing, aspects of the reorganization.</p>
                                        </div>
                                        <a href="#" class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-xs ttm-icon_element-style-round">
                                                <i class="ti ti-angle-right"></i>
                                        </a>
                                    </div>
                                </div>--><!-- featured-imagebox-post end -->
                            </div>
                        </div><!-- row end -->
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!-- row-top-section end -->
        
        <!-- about-section -->
        <section class="ttm-row about-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-sm-12">
                        <div class="pr-80 res-991-pr-0">
                            <!-- section title -->
                            <div class="section-title pr-60 res-991-pr-0 clearfix">
                                <div class="title-header">
                                    <h5>ABOUT CONSULTANCY</h5>
                                    <h2 class="title">We work with you to address your most critical business priorities</h2>
                                </div>
                                <div class="title-desc">To obtain higher performance, Our leaders first identify the critical obstacles to forward progress and then develop a coherent approach to overcoming them. We define your company mission and prioritize company objectives. <u><a href="#" class="ttm-textcolor-skincolor">Read More</a></u></div>
                            </div><!-- section title end -->
                            <div class="row no-gutters mt-40 mb-27">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="ttm-list ttm-list-style-icon">
                                        <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Acquire live chat enables sales </span></li>
                                        <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Engage - marketing automation</span></li>
                                        <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Acquire live chat enables sales</span></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="ttm-list ttm-list-style-icon">
                                        <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Learn from customer feedback</span></li>
                                        <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Support -customer support </span></li>
                                        <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Learn from customer feedback</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="separator">
                                <div class="sep-line dashed"></div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-md-6 col-sm-6">
                                    <!--featured-icon-box-->
                                    <div class="featured-icon-box style1 left-icon right-border">
                                        <div class="">
                                            <img src="{% static 'images/about-sign.png' %}" alt="sign">
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Abdul Hakeem Jaffar</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>CEO and founder</p>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <!--featured-icon-box-->
                                    <div class="featured-icon-box style1 without-icon right-border">
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>+254 722 488900 </h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>Call for enquiries</p>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                        <div class="ml_30 res-991-ml-0 res-991-mt-30 position-relative">
                            <!-- ttm_single_image-wrapper -->
                            <div class="ttm_single_image-wrapper w100 p-12 with-border">
                                <img class="img-fluid" src="{% static 'images/single-img-one.jpg' %}" title="single-img-one" alt="single-img-one">
                            </div><!-- ttm_single_image-wrapper end -->
                            <!--featured-icon-box-->
                            <div class="featured-icon-box style2 left-icon ttm-bgcolor-skincolor">
                                <a href="https://youtu.be/7e90gBu4pas" class="ttm_prettyphoto">
                                    <img src="{% static 'images/ttm-playicon-30x30.png' %}" alt="play-icon" class="ttm_prettyphoto">
                                </a>
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h5>Play Video</h5>
                                    </div>
                                </div>
                            </div><!-- featured-icon-box end-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->
       
        <!-- services-section -->
        <section class="ttm-row ttm-bgcolor-darkgrey ttm-bg ttm-bgimage-yes bg-img1 services-section clearfix">
            <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-1"></div>
                    <div class="col-md-8 col-sm-10">
                        <!-- section title -->
                        <div class="section-title text-center with-desc clearfix">
                            <div class="title-header">
                                <h5>Our Services</h5>
                                <h2 class="title">We pride ourselves in creating financial solutions for your organization</h2>
                            </div>
                        </div><!-- section title end -->
                    </div>
                    <div class="col-md-2 col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style3 text-center mb-30">
                            <div class="featured-icon"><!-- featured-icon-->
                                <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg"> 
                                    <i class="flaticon flaticon-consultation"></i>
                                </div>
                            </div><!-- featured-icon -->
                            <div class="featured-content"><!-- featured-content -->
                                <div class="featured-title">
                                    <h5>Business Finance<br> Strategy</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Devise and implement business strategies that drive success—for an entire business or division, technology, or asset.</p>
                                </div>
                            </div><!-- featured-content -->
                        </div><!-- featured-icon-box -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style3 text-center mb-30">
                            <div class="featured-icon"><!-- featured-icon-->
                                <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg"> 
                                    <i class="flaticon flaticon-branding"></i>
                                </div>
                            </div><!-- featured-icon -->
                            <div class="featured-content"><!-- featured-content -->
                                <div class="featured-title">
                                    <h5>Portfolio &amp; Resource <br> Allocation</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>By balancing and optimizing the many competing assets and initiatives achieve deep &amp; lasting improvements.</p>
                                </div>
                            </div><!-- featured-content -->
                        </div><!-- featured-icon-box -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style3 text-center mb-30">
                            <div class="featured-icon"><!-- featured-icon-->
                                <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg"> 
                                    <i class="flaticon flaticon-viral-marketing"></i>
                                </div>
                            </div><!-- featured-icon -->
                            <div class="featured-content"><!-- featured-content -->
                                <div class="featured-title">
                                    <h5>Organization &amp; <br> Decision Process</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Organizations are designed to be effective and an efficient. The processes require cross-functional teaming.</p>
                                </div>
                            </div><!-- featured-content -->
                        </div><!-- featured-icon-box -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style3 text-center mb-30">
                            <div class="featured-icon"><!-- featured-icon-->
                                <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg"> 
                                    <i class="flaticon flaticon-talk-1"></i>
                                </div>
                            </div><!-- featured-icon -->
                            <div class="featured-content"><!-- featured-content -->
                                <div class="featured-title">
                                    <h5>Decision &amp; Risk <br> Analytic</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Our decision risk analytics empower clients to develop rational decision-making models and development.</p>
                                </div>
                            </div><!-- featured-content -->
                        </div><!-- featured-icon-box -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style3 text-center mb-30">
                            <div class="featured-icon"><!-- featured-icon-->
                                <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg"> 
                                    <i class="flaticon flaticon-business-and-finance-1"></i>
                                </div>
                            </div><!-- featured-icon -->
                            <div class="featured-content"><!-- featured-content -->
                                <div class="featured-title">
                                    <h5>Banking &amp; <br> Capital Markets</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>The venues where savings and investments are channeled between the suppliers who have capital and those.</p>
                                </div>
                            </div><!-- featured-content -->
                        </div><!-- featured-icon-box -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style3 text-center mb-30">
                            <div class="featured-icon"><!-- featured-icon-->
                                <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg"> 
                                    <i class="flaticon flaticon-document"></i>
                                </div>
                            </div><!-- featured-icon -->
                            <div class="featured-content"><!-- featured-content -->
                                <div class="featured-title">
                                    <h5>Modern &amp; Tribe<br> Workplace</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Redefine your workplace value equation that encourage staff to work more attentively and gracefully.</p>
                                </div>
                            </div><!-- featured-content -->
                        </div><!-- featured-icon-box -->
                    </div>
                </div>
            </div>
        </section>
        <!-- services-section end -->
        
        <!-- broken-section -->
        <section class="ttm-row broken-section ttm-bgcolor-grey clearfix">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-sm-12">
                        <div class="position-relative skin-border text-left">
                            <!-- ttm_single_image-wrapper -->
                            <div class="ttm_single_image-wrapper with-top-border mt_12">
                                <img class="img-fluid" src="{% static 'images/img0.jpg' %}" title="single-img-one" alt="single-img-one">
                            </div><!-- ttm_single_image-wrapper end -->
                            <!--ttm-fid-->
                            <div class="ttm-fid inside ttm-fid-view-lefticon ttm-highlight-fid-style1">
                                <div class="ttm-fid-left">
                                    <div class="ttm-fid-icon-wrapper">
                                        <i class="ti ti-cup"></i>
                                    </div>
                                </div>
                                <div class="ttm-fid-contents text-left">
                                    <h4 class="ttm-fid-inner">
                                        <span   data-appear-animation = "animateDigits"
                                        data-from             = "0"
                                        data-to               = "200"
                                        data-interval         = "1"
                                        data-before           = ""
                                        data-before-style     = "sup"
                                        data-after            = "+"
                                        data-after-style      = "sub"
                                    >200</span><span class="ml-5">+</span>
                                    </h4>
                                    <h3 class="ttm-fid-title">Satisfied Customers</h3>
                                </div>
                            </div><!-- ttm-fid end-->
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <!--  -->
                        <div class="ttm-bg ttm-col-bgcolor-yes ttm-bgcolor-white spacing-1 z-1">
                            <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                            <div class="layer-content">
                                <!-- section title -->
                                <div class="section-title clearfix">
                                    <div class="title-header">
                                        <h5>WHY CHOOSE US</h5>
                                        <h2 class="title">We Provide Experts To Create A Great Value For Your Business</h2>
                                    </div>
                                </div><!-- section title end -->
                                <!-- featured-icon-box -->
                                <div class="featured-icon-box style4 left-icon icon-align-top">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs ttm-icon_element-style-round">
                                            <i class="ti ti-info ttm-num"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>We modify whole system</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>By dealing with data, select tools that help you automate time-consuming processes.</p>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end -->
                                <div class="separator">
                                    <div class="sep-line dashed mb-25"></div>
                                </div>
                                <!-- featured-icon-box -->
                                <div class="featured-icon-box style4 left-icon icon-align-top">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs ttm-icon_element-style-round">
                                            <i class="ti ti-info ttm-num"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Safeguard for Your Business</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>To guard, Avoid Revealing Too Much, Apply for a Provisional Patent, Trademark.</p>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end -->
                                <div class="separator">
                                    <div class="sep-line dashed mb-25"></div>
                                </div>
                                <!-- featured-icon-box -->
                                <div class="featured-icon-box style4 left-icon icon-align-top">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs ttm-icon_element-style-round">
                                            <i class="ti ti-info ttm-num"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Beneficial Strategies</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Strategic initiatives – all ideas welcome rather it’s by our employees or client.</p>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end -->
                                <div class="separator">
                                    <div class="sep-line dashed mb-25"></div>
                                </div>
                                <!-- featured-icon-box -->
                                <div class="featured-icon-box style4 left-icon icon-align-top">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs ttm-icon_element-style-round">
                                            <i class="ti ti-info ttm-num"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Build Solid Human Resource</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Give employees generous boundaries by listening intently, Belief in them.</p>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end -->
                                <div class="separator">
                                    <div class="sep-line dashed mb-25"></div>
                                </div>
                                <!-- featured-icon-box -->
                                <!--<div class="featured-icon-box style4 left-icon icon-align-top">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                            <i class="flaticon flaticon-document"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>We Are ISO Certified Company</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>We have achieved ISO 9001:2015 certification.</p>
                                        </div>
                                    </div>
                                </div>--><!-- featured-icon-box end -->
                            </div>
                        </div><!--  -->
                    </div>
                </div>
            </div>
        </section>
        <!-- broken-section -->
        
        <!-- row-title-section -->
        <section class="ttm-row ttm-bgcolor-darkgrey ttm-bg ttm-bgimage-yes bg-img2 row-title-section clearfix">
            <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-1"></div>
                    <div class="col-md-8 col-sm-10">
                        <div class="text-center">
                            <div class="ttm-video-btn">
                                <a class="ttm-play-btn ttm_prettyphoto" href="{% static 'videos/sample.mp4' %}">
                                    <span class="ttm-video-btn-play"><i class="fa fa-play"></i></span>
                                </a>
                            </div>
                            <div class="row-title mt-25">
                                <!-- section title -->
                                <div class="section-title clearfix">
                                    <div class="title-header">
                                        <h5>WE MAKE A DIFFERENCE</h5>
                                        <h2 class="title">The Best Solutions For Developing Your Business</h2>
                                    </div>
                                </div><!-- section title end -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mt-20">
                            <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-bgcolor-skincolor mb-20" href="#">view more services</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- row-title-section end -->
       
        <!-- team-section -->
        <!--<section class="ttm-row ttm-bg ttm-bgimage-yes bg-img3 team-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-2"></div>
                    <div class="col-md-6 col-sm-8">-->
                        <!-- section title -->
                        <!--<div class="section-title text-center with-desc clearfix">
                            <div class="title-header">
                                <h5>OUR TEAM MEMBER</h5>
                                <h2 class="title">Discover our team and experts</h2>
                            </div>
                        </div>--><!-- section title end -->
                    <!--</div>
                    <div class="col-md-3 col-sm-2"></div>
                </div>-->
                <!-- row -->
                <!--<div class="row">
                    <div class="wrap-team team-slide owl-carousel" data-item="3" data-nav="false" data-dots="false" data-auto="true">
                        --><!-- featured-imagebox-team -->
                        <!--<div class="featured-imagebox featured-imagebox-team">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'images/team-member/team-img01.jpg' %}" alt="image">
                                <div class="ttm-social-links-wrapper">
                                    <ul class="social-icons list-inline">
                                        <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-twitter"><a class=" tooltip-top" target="_blank" href="#" data-tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div> 
                            <div class="featured-content featured-content-team">
                                <div class="featured-title">
                                    <h5><a href="team-details.html">Amelia Daniel</a></h5>
                                </div>
                                <p class="category">Chairman and founder</p>
                            </div>
                        </div>--><!-- featured-imagebox-team end-->
                        <!-- featured-imagebox-team -->
                        <!--<div class="featured-imagebox featured-imagebox-team">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'images/team-member/team-img02.jpg' %}" alt="image">
                                <div class="ttm-social-links-wrapper">
                                    <ul class="social-icons list-inline">
                                        <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-twitter"><a class=" tooltip-top" target="_blank" href="#" data-tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div> 
                            <div class="featured-content featured-content-team">
                                <div class="featured-title">
                                    <h5><a href="team-details.html">Alex Mason</a></h5>
                                </div>
                                <p class="category">Visual Media</p>
                            </div>
                        </div>--><!-- featured-imagebox-team end-->
                        <!-- featured-imagebox-team -->
                        <!--<div class="featured-imagebox featured-imagebox-team">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'images/team-member/team-img03.jpg' %}" alt="image">
                                <div class="ttm-social-links-wrapper">
                                    <ul class="social-icons list-inline">
                                        <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-twitter"><a class=" tooltip-top" target="_blank" href="#" data-tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div> 
                            <div class="featured-content featured-content-team">
                                <div class="featured-title">
                                    <h5><a href="team-details.html">Michael Harper</a></h5>
                                </div>
                                <p class="category">Sales Manager </p>
                            </div>
                        </div>--><!-- featured-imagebox-team end-->
                        <!-- featured-imagebox-team -->
                        <!--<div class="featured-imagebox featured-imagebox-team">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'images/team-member/team-img04.jpg' %}" alt="image">
                                <div class="ttm-social-links-wrapper">
                                    <ul class="social-icons list-inline">
                                        <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-twitter"><a class=" tooltip-top" target="_blank" href="#" data-tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div> 
                            <div class="featured-content featured-content-team">
                                <div class="featured-title">
                                    <h5><a href="team-details.html">Jhon Martin</a></h5>
                                </div>
                                <p class="category">Chairman and founder</p>
                            </div>
                        </div>--><!-- featured-imagebox-team end-->
                        <!-- featured-imagebox-team -->
                        <!--<div class="featured-imagebox featured-imagebox-team">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'images/team-member/team-img05.jpg' %}" alt="image">
                                <div class="ttm-social-links-wrapper">
                                    <ul class="social-icons list-inline">
                                        <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-twitter"><a class=" tooltip-top" target="_blank" href="#" data-tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div> 
                            <div class="featured-content featured-content-team">
                                <div class="featured-title">
                                    <h5><a href="team-details.html">Evelyn Jackson</a></h5>
                                </div>
                                <p class="category">Visual Media</p>
                            </div>
                        </div>--><!-- featured-imagebox-team end-->
                    <!--</div>
                </div>--><!-- row end -->
            <!--</div>
        </section>-->
        <!-- team-section end -->
       
        <!-- testimonial-section -->
        <!--<section class="ttm-row testimonial-section bg-layer clearfix">
            <div class="container">-->
                <!-- row -->
                <!--<div class="row">
                    <div class="col-md-12">
                        <div class="map-bgimg ttm-bg ttm-col-bgimage-yes ttm-left-span ttm-bgcolor-skincolor spacing-2">
                            <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                                <div class="ttm-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content">
                                <div class="testimonial-slide owl-carousel" data-item="1" data-nav="false" data-dots="true" data-auto="true">-->
                                    <!-- testimonials -->
                                    <!--<div class="testimonials style1 text-center">
                                        <div class="testimonial-content">
                                            <div class="testimonial-avatar">
                                                <div class="testimonial-img">--><!-- testimonial-img -->
                                                    <!--<img class="img-center" src="{% static 'images/testimonial/01.jpg' %}" alt="testimonial-img">
                                                </div>
                                            </div>
                                            <div class="ttm-ratting-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <blockquote>If you can offer a free tier that provides a lot of value, it will naturally help your product to spread much more rapidly</blockquote>
                                            <div class="testimonial-caption">--><!-- testimonial-caption -->
                                                <!--<h6>Alena Due</h6>
                                                <label>Business man</label>
                                            </div>
                                        </div>
                                    </div>--><!-- testimonials end -->
                                    <!-- testimonials -->
                                    <!--<div class="testimonials style1 text-center">
                                        <div class="testimonial-content">
                                            <div class="testimonial-avatar">
                                                <div class="testimonial-img">
                                                    <img class="img-center" src="{% static 'images/testimonial/02.jpg' %}" alt="testimonial-img">
                                                </div>
                                            </div>
                                            <div class="ttm-ratting-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <blockquote>If you can offer a free tier that provides a lot of value, it will naturally help your product to spread much more rapidly.</blockquote>
                                            <div class="testimonial-caption">
                                                <h6>Alena Due</h6>
                                                <label>Business man</label>
                                            </div>
                                        </div>
                                    </div>--><!-- testimonials end -->
                                    <!-- testimonials -->
                                    <!--<div class="testimonials style1 text-center">
                                        <div class="testimonial-content">
                                            <div class="testimonial-avatar">
                                                <div class="testimonial-img">
                                                    <img class="img-center" src="{% static 'images/testimonial/03.jpg' %}" alt="testimonial-img">
                                                </div>
                                            </div>
                                            <div class="ttm-ratting-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div> 
                                            <blockquote>If you can offer a free tier that provides a lot of value, it will naturally help your product to spread much more rapidly</blockquote>
                                            <div class="testimonial-caption">
                                                <h6>Alena Due</h6>
                                                <label>Business man</label>
                                            </div>
                                        </div>
                                    </div>--><!-- testimonials end -->
                                <!--</div>--><!-- testimonial-slide end-->
                            <!--</div>
                        </div>
                    </div>
                </div>--><!-- row end-->
            <!--</div>
        </section>-->
        <!-- testimonial-section end-->

        <!--blog-text-section-->
        <section class="ttm-row blog-text-section ttm-bgcolor-grey mt_120 res-991-mt-0 clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <!-- section-title -->
                        <div class="section-title style2 clearfix">
                            <div class="title-header">
                                <h5>Our latest News</h5>
                                <h2 class="title">Read Our Latest Articles, Tips &amp; News</h2>
                            </div>
                            <div class="title-desc">Know how to pursue pleasure rationally encounter consequences that are re <br> rationally encounter consequences that are extremely painful.</div>
                        </div><!-- section-title end -->
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!--blog-text-section end-->

        <!--blog-section-->
        <section class="ttm-row blog-section home-blog-section clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- post-slide -->
                    <div class="post-slide owl-carousel owl-theme owl-loaded " data-item="3" data-nav="false" data-dots="false" data-auto="false">
                        <!-- featured-imagebox-post -->
                        {% for blog in blog %}
                        <div class="featured-imagebox featured-imagebox-post box-shadow">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{{blog.getImageURL}}" alt="">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs"> 
                                        <i class="ti ti-pencil"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-content featured-content-post">
                                <div class="post-title featured-title">
                                    <h5><a href="{% url 'blog' blog.category.slug blog.slug %}">{{blog.title}}</a></h5>
                                </div>
                                <div class="post-meta">
                                    <span class="ttm-meta-line"><i class="fa fa-calendar"></i>{{blog.date_added}}</span>
                                    <span class="ttm-meta-line"><i class="fa fa-comment"></i>{{blog.comments}}comments</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div><!-- row end-->
            </div>
        </section>
        <!--blog-section end-->

        <!-- client-section -->
        <div class="ttm-row client-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- ttm-client -->
                        <div class="ttm-client clients-slide owl-carousel owl-theme owl-loaded mt-5" data-item="5" data-nav="false" data-dots="false" data-auto="true">
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-01">
                                        <img class="img-fluid" src="{% static 'images/client/client-01.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-02">
                                        <img class="img-fluid" src="{% static 'images/client/client-02.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="partner">
                                        <img class="img-fluid" src="{% static 'images/client/client-03.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-01">
                                        <img class="img-fluid" src="{% static 'images/client/client-01.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-02">
                                        <img class="img-fluid" src="{% static 'images/client/client-02.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-03">
                                        <img class="img-fluid" src="{% static 'images/client/client-03.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div><!-- ttm-client end -->      
                    </div>
                </div>
            </div>
        </div>
        <!-- client-section end-->
        <footer class="footer widget-footer clearfix">
            <div class="first-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="row no-gutters">
                                <div class="col-md-3 col-sm-2"></div>
                                <div class="col-md-6 col-sm-8">
                                    <div class="">

                                        <form id="subscribe-form" class="newsletter-form" method="post" action="/" data-mailchimp="true">
                                            {% csrf_token %}
                                            <div class="mailchimp-inputbox clearfix" id="subscribe-content">
                                                <i class="fa fa-envelope-o"></i>
                                                <input type="email" name="email" placeholder="Your Email Address.." required="">
                                                <input type="submit" value="SUBMIT">
                                            </div>
                                            <div id="subscribe-msg"></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-2"></div>
                            </div>
                    </div>
                </div>
        </div>
            </div>
        </footer>

    </div><!--site-main end-->
{% endblock content %}
</div><!-- page end -->
</body>
