{% extends 'administrator/base.html' %}
{% load static %}
{% block content %}
<body>

    <!--page start-->
    <div class="page sidebar-true">

        <!-- preloader start -->
        <!--<div id="preloader">
          <div id="status">&nbsp;</div>
        </div>-->
        <!-- preloader end -->
        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box ttm-textcolor-white">
                            <div class="page-title-heading">
                                <h1 class="title"> {{service.title}}</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="{% url 'home' %}"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; | &nbsp;</span>
                                <span> {{service.title}} </span>
                            </div>  
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar-left ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row d-block">
                    <div class="col-lg-9 content-area">
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{{service.getImageURL}}" alt="blog-1">
                            </div>
                            <div class="ttm-service-description mb-30">
                                <p>{{ service.paragraph_1 }}
                                </p>
                                <p>{{ service.paragraph_2 }}</p>
                                <p>{{ service.paragraph_3 }}</p>
                            </div>
                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area ttm-bgcolor-grey mb-50">

                        <aside class="widget widget-nav-menu">

                            <ul class="widget-menu">
                                <li><a href="">Business Growth</a></li>
                                {% for service in service %}
                                <li class="active"><a href="">{{service.title}}</a></li>
                                {% endfor %}
                                <li><a href="">Advance Reports</a></li>
                                <li><a href="">Chain Management</a></li>
                                <li><a href="">Advanced Analytics</a></li>
                            </ul>

                        </aside>

                        <!--<aside class="widget widget-download">
                            <ul class="download">
                                <li>
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                        <i class="fa fa-file-pdf-o"></i>
                                    </div>
                                    <a href="#">Download.pdf</a>
                                </li>
                                <li>
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                        <i class="fa fa-file-word-o"></i>
                                    </div>
                                    <a href="#">Our ISO Certificate</a>
                                </li>
                                <li>
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-darkgrey ttm-icon_element-size-xs"> 
                                        <i class="fa fa-file-o"></i>
                                    </div>
                                    <a href="#">Download.txt</a>
                                </li>
                            </ul>
                        </aside>-->
                        <!--<aside class="widget post-widget">
                            <h3 class="widget-title">Latest News</h3>
                            <ul class="widget-post ttm-recent-post-list">
                                <li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/blog-6.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">20 April,2018</span>
                                    <a href="single-blog.html" class="clearfix">Successful Growth In Business 2018</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/blog-7.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">01 August, 2018</span>
                                    <a href="single-blog.html" class="clearfix">Achieving Best Business Awards</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="{% static 'images/blog/blog-8.jpg' %}" alt="post-img"></a>
                                    <span class="post-date">13 March, 2018</span>
                                    <a href="single-blog.html" class="clearfix">Seminar for Best Marketing Strategy</a>
                                </li>
                            </ul>
                        </aside>-->
                        <aside class="widget contact-widget">
                            <h3 class="widget-title">Get in touch</h3>      
                            <ul class="contact-widget-wrapper">
                                <li><i class="fa fa-map-marker"></i>28 Apple Cross, Lavington, Nairobi, Kenya</li>
                                <li><i class="fa fa-envelope-o"></i><a href="mailto:info@alekoinvest.com" target="_blank">info@alekoinvest.com</a></li>
                                <li><i class="fa fa-phone"></i>+254 722 488900</li>
                                <li><i class="ti ti-alarm-clock"></i>Mon - Sat 8.00 - 18.00. <br>Sunday CLOSED</li>
                            </ul>
                        </aside>
                        <!--<aside class="widget tagcloud-widget">
                            <h3 class="widget-title">Tags</h3>
                            <div class="tagcloud">
                                <a href="#" class="tag-cloud-link">Business</a>
                                <a href="#" class="tag-cloud-link">Consulting</a>
                                <a href="#" class="tag-cloud-link">Financial Support</a>
                                <a href="#" class="tag-cloud-link">Investment</a>
                                <a href="#" class="tag-cloud-link">Marketing</a>
                                <a href="#" class="tag-cloud-link">Seminar</a>
                                <a href="#" class="tag-cloud-link">Strategies</a>
                            </div>
                        </aside>-->
                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->
    </div>
</body>
{% endblock content %}