{% extends 'administrator/base.html' %}
{% load static %}
{% block content %}



<body>

    <!--page start-->
    <div class="page sidebar-true">


        <!--header start-->
        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box ttm-textcolor-white">
                            <div class="page-title-heading">
                                <h1 class="title">{{blog.title}}</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="{% url 'home' %}"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; | &nbsp;</span>
                                <span> {{blog.title}} </span>
                            </div>  
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar-right ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row d-block">
                    <div class="col-lg-9 content-area pull-left">
                        <!-- ttm-blog-classic-->
                        <article class="post ttm-blog-classic">
                           <div class="featured-imagebox featured-imagebox-post">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{{blog.getImageURL}}" alt="">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs">
                                            <i class="ti ti-pencil"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="featured-content featured-content-post">
                                    <div class="post-meta">
                                        <span class="ttm-meta-line"><i class="fa fa-calendar"></i>{{blog.date_added}}</span>
                                        <span class="ttm-meta-line"><i class="fa fa-comment"></i>{{blog.comments}} comments</span>
                                    </div>
                                    <div class="separator">
                                        <div class="sep-line solid mt-10 mb-20"></div>
                                    </div>
                                    <div class="featured-desc">
                                        <p>{{blog.paragraph_1}}</p>
                                        <p>{{blog.paragraph_2}}</p>
                                        <p>{{blog.paragraph_3}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="ttm-blog-classic-content single-blog">
                                <div class="ttm-blog-classic-box-comment">
                                    <div id="comments" class="comments-area">
                                        <h2 class="comments-title">{{blog.comments}} comments from {{blog.title}}”</h2>
                                        <ol class="comment-list">
                                            <li>
                                                <div class="comment-body">
                                                    <div class="comment-author vcard">
                                                        <img src="{% static 'images/blog/blog-comment-01.jpg' %}" class="avatar" alt="comment-img">
                                                    </div>
                                                    <div class="comment-box">
                                                        <div class="comment-meta commentmetadata">
                                                            <cite class="ttm-comment-owner">Alex</cite>
                                                            <a href="#">February 14, 2019 at 8:41 am</a>
                                                        </div>
                                                        <div class="author-content-wrap">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium eius, sunt porro corporis maiores ea, voluptatibus omnis maxime</p>
                                                        </div>
                                                        <div class="reply">
                                                            <a rel="nofollow" class="comment-reply-link" href="#">Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="children comment">
                                                <div class="comment-body">
                                                    <div class="comment-author vcard">
                                                        <img src="{% static 'images/blog/blog-comment-02.jpg' %}" class="avatar" alt="comment-img">
                                                    </div>
                                                    <div class="comment-box">
                                                        <div class="comment-meta">
                                                            <cite class="ttm-comment-owner">Cherieh</cite>
                                                            <a href="#">February 14, 2019 at 8:42 am</a>
                                                        </div>
                                                        <div class="author-content-wrap">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium eius, sunt porro corporis maiores ea, voluptatibus omnis maxime</p>
                                                        </div>
                                                        <div class="reply">
                                                            <a rel="nofollow" class="comment-reply-link" href="#">Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                        <div class="comment-respond">
                                            <h3 class="comment-reply-title">Leave a Reply</h3>
                                            <form action="#" method="post" id="commentform" class="comment-form">
                                                <p class="comment-notes">Your email address will not be published. </p>
                                                <p class="comment-form-comment">
                                                    <textarea id="comment" placeholder="Comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                                </p>
                                                <p class="comment-form-author">
                                                    <input id="author" placeholder="Name (required)" name="author" type="text" value="" size="30" aria-required="true">
                                                </p>
                                                <p class="comment-form-email">
                                                    <input id="email" placeholder="Email (required)" name="email" type="text" value="" size="30" aria-required="true">
                                                </p>
                                                <p class="comment-form-url">
                                                    <input id="url" placeholder="Website" name="url" type="text" value="" size="30">
                                                </p>
                                                <p class="comment-form-cookies-consent">
                                                    <input id="comment-cookies-consent" name="comment-cookies-consent" type="checkbox" value="yes">
                                                    <label for="comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                                                </p>
                                                <p class="form-submit pt-20">
                                                    <input name="submit" type="submit" id="submit" class="submit ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-bgcolor-skincolor" value="Post Comment">
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- ttm-blog-classic end -->
                    </div>
                    <div class="col-lg-3 widget-area ttm-bgcolor-grey pull-right">
                        <aside class="widget widget-search">
                            <form role="search" method="get" class="search-form  box-shadow" action="#">
                                <label>
                                <span class="screen-reader-text">Search for:</span>
                                <i class="fa fa-search"></i>
                                <input type="search" class="input-text" placeholder="Search …" value="" name="s">
                                </label>
                            </form>
                        </aside>
                        <aside class="widget widget-text">
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img" src="images/author-img.png" alt="author image">
                                </div>
                                <h4 class="author-name">Fondex-author</h4>
                                <p class="author-widget_text">As a business consultant, we focus on delivering quantifiable results for our customers, based on a well tested methodology and solid experience.</p>
                                <span class="about-autograph">
                                    <img class="author-img" src="images/author-widget-sign.png" alt="author image">
                                </span>
                            </div>
                        </aside>
                        <aside class="widget widget-categories">
                            <h3 class="widget-title">Categories</h3>
                            <ul>
                                <li><a href="#">Business</a><span>3</span></li>
                                <li><a href="#">Consulting</a><span>3</span></li>
                                <li><a href="#">Financial Support</a><span>1</span></li>
                                <li><a href="#">Investment</a><span>3</span></li>
                                <li><a href="#">Marketing</a><span>2</span></li>
                                <li><a href="#">Seminar</a><span>3</span></li>
                                <li><a href="#">Strategies</a><span>4</span></li>
                            </ul>
                        </aside>
                        <aside class="widget post-widget">
                            <h3 class="widget-title">Latest News</h3>
                            <ul class="widget-post ttm-recent-post-list">
                                <li>
                                    <a href="single-blog.html"><img src="images/blog/blog-6.jpg" alt="post-img"></a>
                                    <span class="post-date">20 April,2018</span>
                                    <a href="single-blog.html" class="clearfix">Successful Growth In Business 2018</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="images/blog/blog-7.jpg" alt="post-img"></a>
                                    <span class="post-date">01 August, 2018</span>
                                    <a href="single-blog.html" class="clearfix">Achieving Best Business Awards</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="images/blog/blog-8.jpg" alt="post-img"></a>
                                    <span class="post-date">13 March, 2018</span>
                                    <a href="single-blog.html" class="clearfix">Seminar for Best Marketing Strategy</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget contact-widget">
                            <h3 class="widget-title">Get in touch</h3>      
                            <ul class="contact-widget-wrapper">
                                <li><i class="fa fa-map-marker"></i>28 Apple Cross, Lavington, Nairobi, Kenya</li>
                                <li><i class="fa fa-envelope-o"></i><a href="mailto:info@alekoinvest.com" target="_blank">info@alekoinvest.com</a></li>
                                <li><i class="fa fa-phone"></i>+254 722 488900</li>
                                <li><i class="ti ti-alarm-clock"></i>Mon - Sat 8.00 - 18.00.<br> Sunday CLOSED</li>
                            </ul>
                        </aside>
                        <aside class="widget tagcloud-widget">
                            <h3 class="widget-title">Tags</h3>
                            <div class="tagcloud">
                                <a href="#" class="tag-cloud-link">Business</a>
                                <a href="#" class="tag-cloud-link">Consulting</a>
                                <a href="#" class="tag-cloud-link">Financial Support</a>
                                <a href="#" class="tag-cloud-link">Investment</a>
                                <a href="#" class="tag-cloud-link">Marketing</a>
                                <a href="#" class="tag-cloud-link">Seminar</a>
                                <a href="#" class="tag-cloud-link">Strategies</a>
                            </div>
                        </aside>
                    </div>
                </div><!-- row end -->

            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->

</div><!-- page end -->

{% endblock %}

</body>